

<div class="container-fluid" style="margin-top: 2em;">
<h1>How it works</h1>
<div style= "border: 2px solid black; padding:8px; margin-bottom:3em; margin-right:3em; ">
<p>Our web app helps you get important stats and visualize them for all NBA teams. NBA visualizer provides intuitive dataviz and get schedule functions keeping you <br> 
informed on the current season. Whether its upgrading your fantasy league decisions, evaluating your favorite team, or just gaining an overall better understanding stats<br> 
trends during the season, NBA visualizer makes effective comparisons easier. Data is up-to-date courtesy of ESPN, so go to dataviz or get stats to get started.
</div>
</p>




 <!-- Twitter boostrap cards-->
 
      <div class="card-group">
        <div class="card">
          <img class="card-img-top img-fluid" src="Assets/Images/Joey Pic 1.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Joey Chapin</h5>
            <p class="card-text">Georgetown MBA FT21</p>
            <p class="card-text"><small class="text-muted">Site Creator</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Schuyler Robinson</h5>
            <p class="card-text">Georgetown MBA FT21</p>
            <p class="card-text"><small class="text-muted">Site Creator</small></p>
          </div>
    
      
    </div>
  </div>
</div>

