<h2>Get Team Stats</h2>

<p>Select a division and team</p>

<form action="/stats/dashboard" method="POST">

<!--
    <label>Stock Symbol:</label>
    <input type="text" name="symbol" placeholder="MSFT" value="MSFT">
    <br>

-->

<label>Division:</label>
  <select name="division">
      <option value="high">Atlantic</option>
      <option value="medium">Central</option>
      <option value="low">Southeast</option>
      <option value="low">Northwest</option>
      <option value="low">Pacific</option>
      <option value="low">Southwest</option>
  </select>
  <br>

  <label>Team: </label>
    <select name="team">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <br>

    <button>Submit</button>

</form>