<h2>Get Team Stats</h2>

<p>Select a division and team</p>

<form action="/stats/dashboard" method="POST">

<!--
    <label>Stock Symbol:</label>
    <input type="text" name="symbol" placeholder="MSFT" value="MSFT">
    <br>

-->

<div id="my-radios-container">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="my-radio-preference" id="my-radio-a" value="A">
      <label class="form-check-label" for="my-radio-a">
        Eastern Conference
      </label>
    </div>
    <div class="mb-3 form-check">
      <input class="form-check-input" type="radio" name="my-radio-preference" id="my-radio-b" value="B" checked>
      <label class="form-check-label" for="my-radio-b">
        Western Conference
      </label>
    </div>
  </div>
  

<label>Division:</label>
  <select name="division">
      <option value="high" id= "division_option1"></option>
      <option value="medium" id= "division_option2"></option>
      <option value="low" id= "division_option3"></option>
  </select>
  <br>


    <button>Submit</button>

</form>

<script type="text/javascript">

    var division_option1 = ""
    var division_option2 = ""
    var division_option3 = ""
    var division_choice= document.getElementById("division")
    var team_option1 = {}
    var team_option2 = {}
    var team_option3 = {}

        function division_selector() {
            console.log("Conference Choice", conference_choice.value)
            if ( conference_choice.value = "Eastern Conference") {
                division_option1 = "Atlantic"
                division_option2 = "Southeast"
                division_option3 = "Central "

            } else {
                division_option1 = "Northwest"
                division_option2 = "Pacific"
                division_option3 = "Southwest"

            }
            console.log("Divisions in this conference", division_option1.value, division_option2.value, division_option3.value)
           
           
        }

        var conference_choice = document.getElementByName("my-radio-preference").forEach(function(e) {

            e.addEventListener("click", divisionselector())
        });

        document.getElementById("division1").innerHTML = division_option1;
        document.getElementById("division2").innerHTML = division_option2;
        document.getElementById("division3").innerHTML = division_option3;

        function team_selector() {
            console.log("Division Choice:", division_choice.value)
            if ( division_choice.value = "Atlantic") {
                team_option1["Atlanta Hawks"] = 1
                team_option2[""] = 2
                team_option3[""] = 3

            } else if (division_choice.value = "Southeast") {
                team_option1[""] = 1
                team_option2[""] = 2
                team_option3[""] = 3

            } else if (division_choice.value = "Central") {
                team_option1[""] = 1
                team_option2[""] = 2
                team_option3[""] = 3

            } else if (division_choice.value = "Northwest") {
                team_option1[""] = 1
                team_option2[""] = 2
                team_option3[""] = 3

            } else if (division_choice.value = "Pacific") {
                team_option1[""] = 1
                team_option2[""] = 2
                team_option3[""] = 3

            } else {
                team_option1[""] = 1
                team_option2[""] = 2
                team_option3[""] = 3

            }
            console.log("Team options in this division are", object.key(team_option1), object.key(team_option2), object.key(team_option3))
            
        }

        division_choice.addEventListener("click", team_selector)

        document.getElementById("team_option1").innerHTML = object.key(team_option1);
        document.getElementById("team_option2").innerHTML = object.key(team_option2);
        document.getElementById("team_option3").innerHTML = object.key(team_option3);

    
    
 </script>