<h2>Stocks Form</h2>

<p>Request some stock market data...</p>

<form action="/stocks/dashboard" method="POST">

    <label>Stock Symbol:</label>
    <input type="text" name="symbol" placeholder="MSFT" value="MSFT">
    <br>

<!--<label>Division:</label>
  <select name="division">
      <option value="high">Atlantic</option>
      <option value="medium">Central</option>
      <option value="low">Southeast</option>
      <option value="low">Northwest</option>
      <option value="low">Pacific</option>
      <option value="low">Southwest</option>
  </select>

--> 

    <label>Risk Tolerance:</label>
    <select name="risk_level">
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
    </select>
    <br>

    <button>Submit</button>
</form>